.about {

  &__container {
    display: flex;
    align-items: center;
    @include small-tablet {
      flex-direction: column;
    }
  }

  &__image {
    overflow: hidden;
    flex-shrink: 0;
    width: 342px;
    height: 342px;
    border-radius: 50%;
    margin-right: 50px;

    @include small-tablet {
      width: 138px;
      height: 138px;
      margin-right: 0;
    }

    img {
      height: 100%;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include small-tablet {
      margin-bottom: 30px;
      text-align: center;
    }
  }

  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    color: #4c4c4c;
    @include mb(30px);

    @include small-tablet {
      font-size: 14px;
      text-align: center;
    }
  }
}
