.header {
  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex-shrink: 0;
    margin-right: 30px;

    img {
      width: 150px;
      height: 150px;
    }
  }

  &__nav {
    margin-right: auto;
  }

  &__social-list {
  }

}
