.nav {
  &__list {
    @include flex-all-center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 500;
    color: var(--black-color);
    transition: color ease 0.2s;
    padding-bottom: 5px;

    @include hover {
      color: var(--accent-color);
    }

    &--active {
      position: relative;
      color: var(--accent-color);

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background: var(--accent-color);
        width: 25px;
        height: 2px;
      }
    }
  }
}
