.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 135%;
  color: var(--text-color);
  margin-bottom: 20px;

  @include high-tablet {
    font-size: 30px;
  }

  @include mobile {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
