:root {
  // base
  --font-family: "RoundPro", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #ffffff;
  --black-color: #000000;
  --accent-color: #f38bae;
  --text-color: #545454;
  --section-bg-color: #f6f6f6;
}
